* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header {
    width: 100%;
    height: 80px;
    display: block;
    padding-top:20px;
}
.inner_header{
    width: 1100px;
    height: 100%;
    display: block;
    margin:0 auto;
    
}

.logo_container{
    height:100%;
    display:table;
    float:left;
}

.menu {
    float: top;
    height: 100%;
}

.menu a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 10px;
    padding-bottom: 20px;
    font-weight: bolder;
    color:black;


}
.menu a:link {
    text-decoration: none;

}

.menu a:last-child{
    padding-right: 80px;
}

.menu a li {
    display:table-cell;
    vertical-align: middle;
    height:100%;

}

.menu, li:hover{
    color:#159778;
}
.menu a li:hover {
    border-bottom:3px solid #159778;
}

.form button {
    color:black;
    background: white;
    border:none;
    position:absolute;
}

.footer_container{
    width:100%;
    height:350px;
    bottom:0;
    position: absolute;
    background-color:rgb(78, 78, 95);
}

.footer{
    background-color:rgb(78, 78, 95);
    bottom:0;
    width:100%;
    height:50px;
    position: absolute;
    color:white;
    border-top: 2px solid black ;
}

.inside_footer,.container-fluid {
    width: 1100px;
    height:50px;
    display:block;
    margin:0 auto;
}


.license {
    float:left;
    padding-top:10px;
}


.info {
    padding-top:15px;
    padding-left:15px;
}


.row {
    color:white;
    
}

input:placeholder-shown{
    background-color:rgb(78, 78, 95);

}

#meet {
    width:400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.flex-gap{
    display:inline-flex;
    gap:12px;
}
.social-media, nav {
    padding:20px;
}
.social-media, img{
    width:40px;
    height:40px;
    
}
#infoliscense {
    color:white;
    text-decoration: none;

}

#infoliscense:hover {
    color:#159778
}
input[type=text] {
    background-color:rgb(78, 78, 95);
    color:white;
}
